{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Class Scheduling System</title>
      <link rel="stylesheet" type="text/css" href=[% static 'css/Adam_Edit_main.css'%]>
   </head>
   <body>
      <!-- ! section login starts -->
      <div class="form-container">
         <div class="form-content">
            <div class="title">
                <img  src="images/logo.png">
               <h2>Class Scheduling System</h2>
            </div>



            <form method="post" action="index.html">
               <div class="input-group">
                  <input  id="username" type="email" placeholder="Email" name="email" required>
               </div>
               <div class="input-group">
                  <input  id="password" type="password" placeholder="Password" name="password" required>
               </div>
               <div class="p-t-30">
                  <button class="submit-btn" type="submit" name="submit">Login</button>
               </div>
               <div class="left">
               <a href="forget-password.html">Forget password?</a>
               </div>
            </form>
         </div>
      </div>
      <!-- !section login ends -->
   </body>
</html>
